
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fcfdfc;
  color: #213547;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fcfdfc;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}